<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Salvatore Ricciu">
        <title>{% block title %}Wanderlust Sardinia{% endblock %}</title>
        {% block stylesheets %}
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        
        <!-- Custom Fonts -->
        <link href="{{ asset('vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.0/css/lightgallery.css" />
        <!-- Theme CSS -->
        <link href="{{ asset('css/grayscale.css') }}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
        <script src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCQSr9sJ31UIcpj8tA2x0ipLcFA5dbrqc4&callback=initMap"></script>
    </head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        {% include 'nav.html.twig' %}  
        {% if app.session.flashBag.has('success') %}
            <div id="#messages" class="alert alert-success text-center">
                {% for msg in app.session.flashBag.get('success') %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}        
            {% block content %}        
            {% endblock %}        
        {% block footer %}
            <footer class="footer-distributed">
                <div class="footer-right">
                    <a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                    <a href="https://be.linkedin.com/in/salvatore-ricciu"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/sluzux"><i class="fa fa-github"></i></a>
                </div>
                <div class="footer-left">
                    <p class="footer-links">
                        <a href="{{ path('homepage') }}">Home</a>
                        路
                        <a href="{{ path('discover') }}">Discover</a>
                        路
                        <a href="{{ path('blog') }}">Blog</a>
                        路
                        <a href="#">About</a>
                        路
                        <a href="#">Contact</a>
                    </p>
                    <p>With <i style="color:red" class="fa fa-heart"></i> from Wanderlust Sardinia</p>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('vendor/jquery/jquery.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>

        <!-- Plugin JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.0/js/lightgallery.js"></script>
        <!-- Theme JavaScript -->
        <script src="{{ asset('js/grayscale.js') }}"></script>
        <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
        {% endblock %}
    </body>
</html>
