<!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{ path('homepage') }}">
                    
                    <img class="logo_main" src="{{ asset('img/logo.png') }}">               
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-left navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="{{ path('discover') }}">Discover</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ path('blog') }}">Blog</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ path('homepage') }}#about">About</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    
                    {% else %}
                    <li>
                       <a class="page-scroll" href="{{ path('fos_user_security_login') }}"><button class="btn">Log-in</button></a>
                    </li>                    
                    <li>
                        <a class="page-scroll" href="{{ path('fos_user_registration_register') }}"><button class="btn">Sign-up</button></a>
                    </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li>
                        <div class="dropdown">
                        <a class="page-scroll" data-toggle="dropdown">
                            {% if app.user.imageName is null %}
                            <div class="img-avatar" style="background-image:url('{{ asset('images/profile/default.png') }}')">
                            {% else %}
                            <div class="img-avatar" style="background-image:url('{{ asset('images/profile/' ~ app.user.imageName) }}')">
                            </div>
                            <b class="caret"></b>
                            {% endif %}                                
                        </a>                            
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('dashboard') }}">Dashboard</a>
                                </li>
                                <li>
                                    <a href="{{ path('add_location') }}">Add location</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href="{{ path('admin') }}">Admin Panel</a>
                                </li>
                                <li>
                                    <!--<a href="">Add Post</a>-->
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">Log-out</a>
                                </li>
                            </ul>     
                        
                        </div>
                    </li>
                                    
                    {% endif %}                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>