{% extends 'base.html.twig' %}
{% block content %}
<div class="main">
<div class="container">
    <div class="row-fluid">
        <div class="col-md-7 card-box">
            <div class="img-container" style="background-image:url('{{ asset('images/location/' ~ location.imageName) }}')">
                <div class="loc_title">
                    <h1>{{ location.name }}</h1>
                </div>
            </div>
            <div class="desc-container">
                <p class="description">
                    {{ location.description }}
                </p>
                {{ rating |rating (5, 'fa-norm') }}
            </div>
        </div>
        <div class="col-md-5">            
            <div class="desc-container">
                <h3 class="title_act">Activities</h3>
                
                    <a class="plusbutton" data-toggle="modal" data-target=".activityModal">
                    <i class="fa fa-plus-square fa-1x"></i></a>
                <div class="list-group">
                
                  <a class="list-group-item" role="button" data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-university" aria-hidden="true"></i>&nbsp;Sightseeing<span class="badge">{{sights|length}}</span></a>
                      <div class="collapse" id="collapse1">
                          <div class="activities-panel">
                            {% for sight in sights %}
                            <strong>&nbsp;{{sight.title}}</strong>
                            <p>&nbsp;&nbsp;{{sight.description}}</p>
                            {% endfor %}                            
                          </div>
                     </div>
                 <a class="list-group-item" role="button" data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-tree" aria-hidden="true"></i>&nbsp;Outdoor sports<span class="badge">{{sports|length}}</span></a>
                      <div class="collapse" id="collapse2">
                          <div class="activities-panel">
                            {% for sport in sports %}
                            <strong> {{sport.title}}</strong>
                            <p>  {{sport.description}}</p>
                            {% endfor %}                           
                          </div>
                     </div>
                 <a class="list-group-item" role="button" data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapseExample">Others<span class="badge">{{others|length}}</span></a>
                      <div class="collapse" id="collapse3">
                          <div class="activities-panel">
                            {% for other in others %}
                            <strong>{{other.title}}</strong>
                            <p>{{other.description}}</p>
                            {% endfor %}                         
                          </div>
                     </div>
                
                  <div class="modal fade activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModal">
                      <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                            {{ form_start(formAddActivity) }}
                            {{ form_widget(formAddActivity) }}  
                            <div class="modal-footer">
                            <button type="submit" class="btn dark">Save</button>
                            {{ form_end(formAddActivity)}}
                            </div>
                        </div>
                        </div>
                      </div>            
                  </div>
                </div>
            </div>            
        </div>
    </div>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="col-md-5 card-box margin-top">
            <input id="latitude" type="hidden" value="{{location.lat}}">
            <input id="longitude" type="hidden" value="{{location.lng}}">
            <div id="map" class="card-box" style="width:100%; height:400px"></div>
            <script>
                var lat = document.getElementById('latitude').value;
                var lng = document.getElementById('longitude').value;     
                
                var myCenter = new google.maps.LatLng(lat,lng);
                var mapCanvas = document.getElementById("map");
                var mapOptions = {center: myCenter, zoom: 13};
                var map = new google.maps.Map(mapCanvas, mapOptions);
                var marker = new google.maps.Marker({position:myCenter});
                marker.setMap(map);
            </script>
        </div>        
        <div class="col-md-6 col-md-offset-1 margin-top">
            <h3 class="title_review">Photos</h3>
            <a class="plusbutton" data-toggle="modal" data-target=".photoModal">
                <i class="fa fa-plus-square fa-1x"></i>
            </a><br>
            {% if photos is empty %}
                <p>Be the first to post a picture about {{location.name}}</p>                    
            {% else %}
            <div id="animated-thumbnails">
            {% for photo in photos %}           
                <a href="{{ asset('images/location/' ~ photo.imageName) }}" data-sub-html="<h4>{{photo.imageDesc}}</h4>">
                    <div class="thumbLoc" style="background-image:url('{{ asset('images/location/' ~ photo.imageName) }}')">
                    </div>
                </a>            
            {% endfor %}
            </div>
            {% endif %}
            <div class="modal fade photoModal" tabindex="-1" role="dialog" aria-labelledby="photoModal">
              <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    {{ form_start(formAddPhoto) }}
                    {{ form_widget(formAddPhoto) }}
                    <div class="modal-footer">
                    <button type="submit" class="btn dark">Save</button>
                    {{ form_end(formAddPhoto) }}
                    </div>
                </div>
                </div>
              </div>            
            </div>
    </div>    
</div>
<div class="container">
    <div class="row-fluid">
        <div class="col-md-12 margin-top text-center">
            <div class="review-container">
                <h3 class="title_review">Review</h3>
                <a class="plusbutton" data-toggle="modal" data-target=".reviewModal">
                <i class="fa fa-plus-square fa-1x"></i>
                </a>
                {% if reviews is empty %}
                    <p>Be the first to leave a review</p>                    
                {% endif %}
                <div class="modal fade reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModal">
                <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    {{ form_start(formAddReview) }}
                    {{ form_widget(formAddReview) }}
                    <div class="modal-footer">
                    <button type="submit" class="btn dark">Save</button>
                    {{ form_end(formAddReview) }}
                    </div>
                </div>
                </div>
              </div>            
            </div>
                {% for review in reviews %}
                    <div class="single_review">
                        <div class="review_thumb" style="background-image:url('{{ asset('images/profile/' ~ review.user.imageName) }}')">
                        </div>
                        <div class="bubble text-center">
                           {{review.comment}}
                           <div class="userdetails">
                                {{review.user.username}}  on {{review.dateIns | date ('j M Y')}}
                                {{ review.rating |rating (5, 'fa-norm') }}
                            {% if review.user.id == app.user.id %}
                                <div class="text-right">
                                <a href="{{ path('reviewDelete', {'id': review.id }) }}"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
                                </div>
                            {% endif %}
                           </div>
                        </div>
                    </div>
                {% endfor %}   
            </div>
        </div>
    </div>
    
</div>
</div>
{% endblock %}
