{% extends 'base.html.twig' %}
{% block content %}
<div class="profilepage">
	<div class="row-fluid"> 
		<div class="col-md-4">
		<div class="contactinfo">     
			<img class="img-circle" src="{{ asset('images/profile/' ~ app.user.imageName) }}">        
		</br></br>
        	
            <h3>{{app.user.name}}&nbsp;{{app.user.surname}}</h3>
            <h5><i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{app.user.username}}</h5>
            <h5><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;{{app.user.email}}</h5>
            <h5><i class="fa fa-globe" aria-hidden="true"></i>&nbsp;{{app.user.city}}, {{app.user.country}}</h5>
        	<div class="btn-group">
                <!-- Button trigger modal -->
				<button type="button" class="btn" data-toggle="modal" data-target="#edit_profile">
					<i class="fa fa-cogs"></i> Modify
				</button>
            </div>
        </div>
        </div>
        <div class="col-md-8">
        	
        	<h4>Latest activities</h4>
        	<div class="activities">
        	{% if locations is empty %}
        		<p>You have no recent activities</p>
        	{% else %}
	        	{% for location in locations %}
	        		<p>you added "{{ location.name }}" on {{ location.dateIns | date("d/m/Y") }} </p>		
	            {% endfor %}
        	{% endif %}
        	</div>
        </div>
       
        <!-- Modal -->
		<div class="modal fade" id="edit_profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		        <h4 class="modal-title" id="myModalLabel">Change details</h4>
		      </div>
		      <div class="modal-body">
		        {{ form_start(form) }}
		        <div class="form-group">
		        {{ form_label(form.name) }}
		        {{ form_errors(form) }}
		        {{ form_widget(form.name, {'attr':{'class':'form-control'}}) }}
		    	</div>
		    	<div class="form-group">
		    	{{ form_label(form.surname) }}
		        {{ form_errors(form) }}
		        {{ form_widget(form.surname, {'attr':{'class':'form-control'}}) }}
		    	</div>
		    	<div class="form-group">
		    	{{ form_label(form.username) }}
		        {{ form_errors(form) }}
		        {{ form_widget(form.username, {'attr':{'class':'form-control'}}) }}
		    	</div>
		      	<div class="form-group">
		      	{{ form_label(form.email) }}
		        {{ form_errors(form) }}
		        {{ form_widget(form.email, {'attr':{'class':'form-control'}}) }}
		    	</div>
		      	<div class="form-group">
		      	{{ form_label(form.city) }}
		        {{ form_errors(form) }}
		        {{ form_widget(form.city, {'attr':{'class':'form-control'}}) }}
		    	</div>
		    	<div class="form-group">
		    	{{ form_label(form.country) }}
		        {{ form_errors(form) }}
		        {{ form_widget(form.country, {'attr':{'class':'form-control'}}) }}
		    	</div>
		      	<div class="form-control-file">
		      	{{ form_label(form.imageFile) }}
		        {{ form_errors(form) }}
		        {{ form_widget(form.imageFile,{'attr':{'class':'form-control'}})}}
		    	</div>		      	
		    	<br>
		      	<input type="submit" value="Save changes" class="btn">
		        {{ form_end (form) }}
		      </div>

		    </div>
		  </div>
		</div>
</div>
</div>
{% endblock %}